<html>
<head>
</head>
<body>
<form name="login" action="" method="post" accept-charset="utf-8">{% csrf_token %}

<fieldset>
<legend>
<h1 style="color:lightseagreen;">Sign up</h1></legend>
</br>

<div>
<label for="username">Username:</label><br>
<input type="text" name="username" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="password">Password:</label><br>
<input type="text" name="password" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="no">Reg No:</label><br>
<input type="text" name="no" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="first_name">First Name:</label><br>
<input type="text" name="first_name" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="last_name">Last Name:</label><br>
<input type="text" name="last_name" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="email">email:</label><br>
<input type="text" name="email" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="dob">Date of Birth:</label><br>
<input type="text" name="dob" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="dept">Department:</label><br>
<input type="text" name="dept" value="" maxlength="100" /><br>
</div>
</br>

<div>
<label for="batch">Batch:</label><br>
<input type="text" name="batch" value="" maxlength="100" /><br>
</div>
</br>


<div>
</br>
<div>
<input type="submit" value="Done" />
</div>
</fieldset>
</form>
</body>
</html>
