<html>
<head>

</head>
<body background="/home/jisa/Desktop/geclive.png">



<form action="login.html" method="get">

Search <input type="text" name="search">
</form>
<h3>
<img align="left" height="100" style="margin-right: 10px" width="100" /></h3>
	
<div>	</br> <h1>
Hi	
<img alt="smiley" src="http://www.quackit.com/html/online-html-editor/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" /><h1>
</div>
<div>	<h2><b>
<normal style="color:navy;">
		</br></br></br>
		How's your classmates doing?
		</br>
		Gear Up for a blast</h2>
</div>	<h1>
		</br>
		Go and check our the latest events.
	</h1>	</br>
		<input type="submit" name="events" value="Events">
	<h2 colour="red">
	Did you hear this? Someone needs your help.
	</h2></br>
		<input type="submit" name="blood" value="Blood+">
</body>
</html>

