<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Gec Live Welcomes You </title>
</head>
<!body background="/home/jisa/Desktop/geclive.png">
<!body style="background-image:url(http://img24.imageshack.us/img24/7623/geclive.png);background-repeat:no-repeat;background-size:cover;">

<!form action="login.html" method="get">

<!Search <input type="text" name="search">
<!/form>
	
<div>	</br> <h1>
Hi {{user.first_name}} {{user.last_name}}	
<!img alt="smiley" src="http://www.quackit.com/html/online-html-editor/ckeditor/plugins/smiley/images/regular_smile.gif" title="smiley" /><h1>
</div>
</br></br></br></br></br></br>
<div>	<h2><b>
<normal style="color:navy;">
		</br></br></br>
		How're your classmates doing?
		</br>
		Gear Up for a blast</h2>
</div>	<h1>
		</br>
		Go and check out the latest events.
	</h1>	</br>
		<a href = "/welcome/events" class="big">Events </a>   <!make it Button later>
		
	<h2 style="color:red">
	Did you hear this? Someone needs your help.
	</h2>
		<a href = "/welcome/blood"><h3 style = "color:red" class="big">Blood + </a> </h3>
		<h2 style="color:black"class="big"> Create new  </h2>
		<a href = "/welcome/createevent" class="big">  Events </a> 
<br>		<a href = "/welcome/blood/create" class="big"> Blood+ </a>
</br>		
		<!input type="submit" name="blood" value="Blood+" ></br></br>
		  <!make it Button later>
		
</body>
</html>

